<hr class="w-100"/>
<div id="comment-<%= comment.id%>" class="ms-5" aria-current="true">
  <% if current_user == comment.user || current_user.admin? %>
    <%= render "shared/edit_delete", model: comment %>
  <% end %>
  <div class="d-flex mb-2">
    <%= render "shared/avatar", user: comment.user, size: "small"%>
    <div>
      <h6 class="mb-1"><%= link_to comment.user.full_name, comment.user, class: "simple-link" %></h5>
      <p class="mb-1"><%= comment.content %></p>
    </div>
  </div>
  <div class="comment-likes">
    <small class="text-secondary"><%= time_ago_in_words(comment.created_at) %> ago</small>
    <%= render "shared/like_buttons", type: comment %>
  </div>
</div>
