<div class="mt-5 post-form">
  <h5>Create a new post</h5>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="field mb-2">
      <%= f.text_area :content, class: "form-control", placeholder: "Enter the description..." %>
    </div>
    <div class="field mb-3">
      <%= f.hidden_field :image, value: @post.cached_image_data, id: nil %>
      <label for="formFile" class="form-label">Upload an image to your post</label>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "form-control", type: "file", id: "formFile" %>
    </div>
    <%= f.submit "Post", class: "btn btn-dark w-100" %>
  <% end %>
</div>
