<div class="d-flex user-container">
  <div class="me-5 user-avatar">
    <%= image_tag(gravatar_for(user, 200), alt: user.full_name, class: "me-3")%>
  </div>
  <div>
    <h5><%= user.full_name%></h5>
    <p>Email: <%= user.email%></p>
    <p>Role: <%= user.role%></p>
    <p>Posts count: <%= user.posts.count %></p>
    <div class="d-flex text-secondary">
      <a href = "<%= followers_user_path(user) %>", class="simple-link">
        <p class="me-2"><%= user.followers.count %> followers</p>
      </a>
      <a href = "<%= following_user_path(user) %>", class="simple-link">
        <p><%= user.following.count %> following</p>
      </a>
    </div>
  </div>
</div>
