<div class="d-flex user-container">
  <div class="me-5 user-avatar">
    <%= image_tag(gravatar_for(user, 200), alt: user.full_name, class: "me-3")%>
  </div>
  <div>
    <h5><%= user.full_name%></h5>
    <p>Email: <%= user.email%></p>
    <p>About: <%= user.about%></p>
    <p>Role: <%= user.role%></p>
    <p>Posts count: <%= user.posts.count %></p>
  </div>
</div>
