<% if user_signed_in?%>
  <div class="row gap">
    <div class="col left-column">
      <%= render "shared/user_info"%>
      <%= render "shared/post_form"%>
    </div>
    <div class="col posts">
      <% if @feed_items.any? %>
        <h5>Your personal feed:</h5>
        <div class="list-group posts">
          <%= render @feed_items %>
        </div>
      <%else%>
        <h5>Your feed is empty</h5>
        <small>Post something or follow <%= link_to "someone", "#"%> </small>
      <% end %>
    </div>
  </div>
<%else%>
  <%= render "login"%>
<%end%>
