<div id="post-<%= post.id%>" class="list-group-item mb-2 border rounded" aria-current="true">
  <% if current_user == post.user %>
    <%= link_to post, method: :delete, data: { confirm: "You sure?" }, class: "align-right" do%>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
      </svg>
    <%end%>
  <% end %>
  <div class="d-flex mb-2">
    <div>
      <%= image_tag(gravatar_for(@user, 50), alt: @user.full_name, class: "me-3 rounded-circle")%>
    </div>
    <div>
      <h6 class="mb-1"><%= link_to post.user.full_name, post.user, class: "user-link" %></h5>
      <p class="mb-1"><%= post.content %></p>
    </div>
  </div>
  <div class="like-buttons">
    <small class="text-secondary"><%= time_ago_in_words(post.created_at) %> ago</small>
    <small class="align-right">Like/Dislike</small>
  </div>
</div>
