<div id="post-<%= post.id%>" class="list-group-item mb-2 border rounded" aria-current="true">
  <% if current_user == post.user || current_user.admin? %>
    <%= render "shared/edit_delete", model: post %>
  <% end %>
  <div class="d-flex mb-2">
    <%= render "shared/avatar", user: post.user, size: "small"%>
    <div>
      <h6 class="mb-1"><%= link_to post.user.full_name, post.user, class: "simple-link" %></h5>
      <p class="mb-1"><%= post.content %></p>
      <%if post.image_url(:medium)%>
        <%= image_tag post.image_url(:medium), class: "post-image"%>
      <%end%>
    </div>
  </div>
  <div class="post-likes">
    <small class="text-secondary"><%= time_ago_in_words(post.created_at) %> ago</small>
    <%= render "shared/like_buttons", type: post %>
  </div>
  <div class="comments-container">
    <%= render post.comments %>
  </div>
  <div class="mt-3 comment-form">
    <%= render "posts/comment_form", post: post %>
  </div>
</div>
